body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #0a0909;
    transition: background-color 0.3s ease;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    padding: 15px;
  }
  
  .nav-link {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
  }
  
  .nav-link:hover {
    color: lightblue;
  }
 